@model CustViewModel;

@{
    ViewData["Title"] = "Müşteriler";
}

<div class="panel panel-default cust-panel">
  <div class="panel-heading">@ViewData["Title"]</div>

  <table class="table table-hover">
      <thead>
          <tr>   
              <td>Müşteri Adı</td>   
              <td>Müşteri Borcu</td>      
              <td>Müşteri Durumu</td>      
              <td>İşlem</td>     
          </tr>
      </thead>

      @foreach (var item in Model.Custs)
      {
          <tr>                    
              <td class="name">@item.Name</td>
              <td>@item.Debt</td>
              <td> @(item.Disabled ? "Pasif" : "Aktif" ) </td>
              <td>
                    <form asp-action="DelCust" method="POST">
                    <button type="submit" class="dell-button" >Sil</button>
                    <input type="hidden" name="ID" value="@item.ID">                    
                </form>
                <button type="submit" value="@item.ID" class="select-button">Seç</button>                  
               </td>
          </tr>
      }
  </table>


  <div class="panel-footer add-item-form">
      @await Html.PartialAsync("AddCustPartial", new Cust())
  </div>

  
  <div class="panel-footer upd-item-form" style="display:none" >
      @await Html.PartialAsync("UpdCustPartial", new Cust())
  </div>